.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar__menu-item_button {
  padding: 10px;
  margin-top: auto;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  border: 0;
  text-align: left;
  border-radius: 5px;
  line-height: 1.5;
}

.sidebar__menu-item_button:hover {
  background-color: #555;
  transition: all .3s;
}